html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

button {
    height: 500px;
    width: 500px;
    font-size: 100px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    transition-duration: 0.4s;
}

button:hover{
    background-color: hotpink;
}

button:active{
    background-color: white;
}

#textContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#scoreContainer, #roundContainer{
    width: 20%;
    height: 200px;
    text-align: center;
}